[2019-04-25 11:36] spiritme1984 opened #219 "SpringMVC项目如何使用dubbo插件"
官方给出的例子都是基于spring boot项目的，在springMVC项目中使用Dubbo组件，如何实现sofa-tracer-dubbo-plugin ? 都需引入什么依赖，web.xml需要如何配置？

[2019-04-25 11:45] glmapper commented on #219
目前 SOFATracer 支持 Dubbo 2.7 版本，埋点实现依赖[Dubbo 调用拦截扩展](https://dubbo.apache.org/zh-cn/docs/dev/impls/filter.html)。因此在 MVC 系统中使用 SOFATracer 对Dubbo 埋点，可参考 [Dubbo 调用拦截扩展](https://dubbo.apache.org/zh-cn/docs/dev/impls/filter.html)的使用，将扩展的 DubboSofaTracerFilter 作用于请求即可

[2019-04-28 02:13] spiritme1984 commented on #219
谢谢，问一下，我们之后会支持老版本的Dubbo吗？

[2019-04-28 02:19] glmapper commented on #219
请问下，你们目前使用的Dubbo 版本是多少

[2019-04-28 02:30] spiritme1984 commented on #219
目前我们的版本是2.5.3的版本。。。

[2019-04-29 02:38] #219 closed, assigned to nobody

[2019-04-30 02:47] ghost opened #220 "why traceId been put in SofaTracerSpanContext, rather than TrancerSpan?"
I mean, I found that the spanId and traceId had been put in SofaTracerSpanContext
what is the function of SofaTracerSpanContext?
And why not put spanId and traceId in Span directly?

[2019-04-30 03:04] ghost commented on #220
by studying the code, I think the reason why we need SofaTracerSpanContext is because of the openTracing formation.
SofaTracerSpanContext will be send to server when client invoke RPC, and server will extract SofaTracerSpanContext.

[2019-04-30 03:24] ghost commented on #220
Do I understand it correctly?

[2019-05-06 09:05] #220 closed, assigned to nobody

[2019-05-06 09:13] glmapper commented on #220
yes,SOFATracer follows the Opentracing specification.According to Opentracing semantics, SpanContext is used for transparent transmission over the network. If tracerId and spanId are placed in Span, but Span is not used for cross-process delivery, the trace will not be correctly represented.

[2019-05-08 10:13] jingze12 opened #221 "SOFA"

[2019-05-08 10:14] glmapper commented on #221
Please provide a little more information.

[2019-05-16 02:21] glmapper opened #223 "Integration String Cloud Stream"
At present, SOFATracer has not provided trace for MQ. As one of the important components in the microservice system, the implementation of the trace for MQ will better realize the monitoring of the overall link.

Spring Cloud Stream is a framework for building highly scalable event-driven microservices connected with shared messaging systems. By implementing integration with Spring Cloud Stream, S

[2019-05-27 10:19] shengxiang205 opened #226 "Support Spring Cloud Gateway"
### Your question

we need support spring cloud gateway

### Your scenes

we using spring-cloud-gateway as our api gateway

### Your advice

create gateway filter the same way as webfilter

### Environment

- SOFATracer version: 3.0.2
- JVM version (e.g. `java -version`):
- OS version (e.g. `uname -a`):
- Maven version:
- IDE version:

[2019-05-29 01:33] shengxiang205 opened #227 "WebfluxSofaTracerFilter should not use thread local to keep SofaTracerSpan"
### Describe the bug

when we using webflux with sofa tracer, we have controller code like this:

[code]

application.properties:
[code]

we visit http://localhost:8080/springwebflux in concurrent mode with env `-Dreactor.netty.ioWorkerCount=1`

### Expected behavior
`logs/tracelog/spring-mvc-digest.log` should have output lines for every request

### Actual behavior
`logs/tracelog/spring-mvc-dige

[2019-05-29 01:37] shengxiang205 commented on #227
code in WebfluxSofaTracrFilter.java using code:
[code]
to create first SofaTracerSpan,

but `serverReceive` in `AbstractTracer` using
[code]

to keep SofaTracerSpan in ThreadLocal

as we known, in concurrent mode, multi reactor stream may share same thread,
it will lead to unknown bug with thread local variables

[2019-05-29 02:12] glmapper commented on #221
@jingze12 can you provider a simple  ?

[2019-06-11 11:28] panbdun opened #229 "无法扩展DataSourceClientTracer.getClientDigestEncoder()"
com.alipay.sofa.tracer.plugins.datasource.tracer.DataSourceClientTracer.getClientDigestEncoder() 中方法没办扩展，默认是json格式，现在不能扩展使用XStringBuilder新写一个Encoder， 能否扩展下

 @Override
    protected SpanEncoder<SofaTracerSpan> getClientDigestEncoder() {
        return new DataSourceClientDigestJsonEncoder();
    }

[2019-06-12 04:00] glmapper commented on #229
SpanEncoder 是支持扩展的；实现可以参考 mvc 插件的实现方式。编码方式可以通过配置文件的方式来指定具体的 SpanEncoder 。

目前 SOFATracer 仅支持了 json 的方式，XStringBuilder 方式你可以描述下具体的背景，如果多数场景下都有支持 XStringBuilder 编码需求，我们将会考虑支持这种方式。

[2019-06-12 05:18] glmapper commented on #221
This issue will be closed, if you have any questions, you can open it again.

[2019-06-12 05:18] #221 closed, assigned to nobody

[2019-06-12 10:58] panbdun commented on #229
主要json方法太占空间

com.alipay.sofa.tracer.plugins.springmvc.SpringMvcTracer.java下的实现

@Override
    protected SpanEncoder<SofaTracerSpan> getServerDigestEncoder() {
        if (Boolean.TRUE.toString().equalsIgnoreCase(
            SofaTracerConfiguration.getProperty(SPRING_MVC_JSON_FORMAT_OUTPUT))) {
            return new SpringMvcDigestJsonEncoder();
        } else {
            return new SpringMvcD

[2019-06-13 01:29] spiritme1984 opened #230 "SOFATracer 不兼容 Dubbo 2.7.2 版本"
今天把dubbo版本升级到2.7.2发现客户端不能连接到服务端，提示如下：
`Exception in thread "main" org.apache.dubbo.rpc.RpcException: Failed to invoke the method sayHello in the service cn.jcorn.dubbo.api.GreetingService. Tried 3 times of the providers [192.168.14.179:20880] (1/1) from the registry 127.0.0.1:2181 on the consumer 192.168.14.179 using the dubbo version 2.7.2. Last error is: Invoke remote method timeout. method: say

[2019-06-13 02:13] glmapper commented on #230
@spiritme1984 可以提供下 demo 吗

[2019-06-13 03:01] spiritme1984 commented on #230
demo地址：https://github.com/spiritme1984/sofaTracePlugin272

[2019-06-13 07:18] glmapper commented on #230
从你的异常堆栈中貌似没有SOFATracer 相应的异常信息。从你提供的 demo 来看，你没有在申明 dubbo 服务时指定 tracer 的 filter。具体使用可以参考：https://www.sofastack.tech/sofa-tracer/docs/Usage_Of_Dubbo .这里先关闭了，如果有疑问可以再打开。感谢反馈！

[2019-06-13 07:31] glmapper commented on #229
Yes, this is currently implemented in SpringMVC; Other plugins for access are equally achievable. If you are interested, you can improve this part of the ability and then PR.

If you pay more attention to this ability in the actual application, we will put this part of the function into the planning as soon as possible.

[2019-06-13 08:56] spiritme1984 commented on #230
demo是dubbo官方提供的例子，例子中在pom中引用了sofa-tracer-dubbo-plugin的依赖消费者就调不到服务提供者，提示上面的异常。把这个依赖删除就能正常调用。目前从现象上看这个依赖导致了dubbo不能正常调用了。并且在我的工作项目中，在XML中配置了filter，提示和demo同样的错误。

[2019-06-13 10:22] glmapper commented on #230
大概看了下 dubbo 2.7.2 的[发布报告](https://github.com/apache/dubbo/releases)，dubbo 在 2.7.2 版本中对一些类进行了优化，比如[Seperate Constants.java into some SubConstants Class](https://github.com/apache/dubbo/issues/3137)，另外 RpcResult 这个类也被移除了，SOFATracer 中有依赖这两个类，从而导致了在 dubbo 2.7.2 版本使用会报错。

[2019-06-14 01:18] spiritme1984 commented on #230
嗯，那sofaTrace的dubbo插件版本会进行更新？如果是什么时候能发布新的版本？

[2019-06-14 06:37] glmapper commented on #230
为了保持对低版本兼容，会通过其他方案来做兼容，预计下周发版

[2019-06-14 08:15] spiritme1984 commented on #230
好的，那我先不关闭了，等发版了有了解决方案我在关闭这个issue吧

[2019-06-25 01:20] spiritme1984 commented on #230
有更新的解决方案了吗？

[2019-06-25 06:29] glmapper commented on #230
嗯，在 2.4.1 版本中修复

[2019-06-25 06:49] spiritme1984 commented on #230
有大概的发布日期吗？

[2019-06-25 09:01] glmapper commented on #230
原计划本周发布一个 SNAPSHOT 版本，但是从 Dubbo 目前存在的相关性能问题来看，SOFATracer 希望等 2.7.3 版本之后再做支持：https://github.com/apache/dubbo/milestone/26

[2019-06-26 09:27] zzps opened #232 "springcloud integrate sofatracer and specify start port error by --server.port=portnumber"
### Describe the bug
java.lang.ClassCastException: org.springframework.core.env.SimpleCommandLinePropertySource cannot be cast to org.springframework.core.env.MapPropertySource
at com.alipay.sofa.infra.listener.SofaBootstrapRunListener.lambda$assemblyLogSetting$1(SofaBootstrapRunListener.java:62)
A clear and concise description of what the bug is.
当我指定端口启动时报如上错误
tracer-sofa-boot-starter，vesion：3.0

[2019-06-26 09:37] glmapper commented on #232
@zzps can you provide a simple demo ?

[2019-06-26 10:19] zzps commented on #232
好的我就用中文说了，我项目太大不好发你说，我刚才新建了个小demo  maven pom.xml是
`<?xml version="1.0" encoding="UTF-8"?>

<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
  <modelVersion>4.0.0</modelVersion>

  <groupId>x.y.z</groupId>
  <artifactId>x-y-z</artifactId>
  <v

[2019-06-27 02:06] glmapper commented on #232
@zzps 在 SOFATracer 3.x 版本中，没有 resttmplate 插件，这块我们放在下个版本中将 master 上的这部分能力 cheery pick 到 3.x 上。报错的原因是 Springboot 2.1.x 与 Springboot 1.5.x 本身存在兼容性问题

[2019-06-27 02:36] zzps commented on #232
嗯，我记得我nacos整合的时候也是遇到因为springcloud版本导致一个监听器生效问题，谢谢，我自己改下源码吧，祝好

[2019-06-27 02:47] #232 closed, assigned to nobody

[2019-06-28 02:39] citywalki opened #233 "BasePreparedStatement的初始化策略问题"
### Describe the bug
`java.lang.IllegalStateException: BasePreparedStatement has not been initialized
	at com.alipay.sofa.tracer.plugins.datasource.BasePreparedStatement.checkState(BasePreparedStatement.java:98)`

当使用JdbcTemplate.update(JdbcTemplate.java:927)方法，由于tracer-datasource-plugin中的BasePreparedStatement会在getParameterMetaData执行前做checkState，但BasePreparedStatement的initialized是被延迟到第一次执行 SQL时才会被

[2019-07-03 05:48] chenghuanhuan opened #234 "兼容spring boot1吗"
### Your question

describe your question clearly

### Your scenes

describe your use scenes (why need this feature)

### Your advice

describe the advice or solution you'd like

### Environment

- SOFATracer version:
- JVM version (e.g. `java -version`):
- OS version (e.g. `uname -a`):
- Maven version:
- IDE version:

[2019-07-03 05:48] chenghuanhuan commented on #234
Caused by: java.lang.ClassNotFoundException: org.springframework.boot.context.properties.bind.Binder

[2019-07-03 05:50] glmapper commented on #234
你用的 tracer 版本是多少，如果是 springboot 1.x 的话可以使用 tracer 2.4 版本

[2019-07-03 09:59] citywalki commented on #233
bug又没人管吗？

[2019-07-03 10:00] glmapper commented on #233
这个问题内部已经评审过了，会放在下个 2.4.1 / 3.0.6 版本中修复

[2019-07-04 03:23] citywalki commented on #233
那就好，我只是怕没人理会那就不太棒了

[2019-07-12 05:33] taotao365s commented on #233
首先，sofa-tracer-datasource-plugin 思路确实不错

这种错误太致命了，直接影响生产环境
这种场景下也会出现 `BasePreparedStatement has not been initialized `

- mybatis & tkmapper
- druid datasource

[code]

debug了一下
![image](https://user-images.githubusercontent.com/1212932/61293919-5113cb80-a807-11e9-81f2-557d19a846a9.png)
目测stmt被缓存起来了，而这里优先使用了delegate.queryTimeout的方法

[2019-07-16 09:17] taotao365s opened #235 "traceId 支持自定义"
### Your question
目前tracerId很不直观，尤其是把进程PID放在末尾，误认为tracerId没有变化

建议：
- 将自增序列放在最后
- 开放tracerId生成接口

describe your question clearly

### Your scenes

describe your use scenes (why need this feature)

### Your advice

describe the advice or solution you'd like

### Environment

- SOFATracer version:
- JVM version (e.g. `java -version`):
- OS version (e.g. `uname -a`):
- Maven version:
- IDE version:

[2019-07-16 09:20] glmapper commented on #235
Are there any specific suggestions? Of course, if the rules for generating tracerId can be customized, it is best.  You can provide a PR to support custom generation rules.

[2019-07-16 12:09] taotao365s commented on #233
@iamcyw do you have demo code?

[2019-07-17 04:31] citywalki commented on #233
抱歉没有，我只是阅读jdbctemlate代码

[2019-07-22 09:23] LightShine commented on #230
dubbo 2.7.3已经发布，请问什么时候能修复这个问题？

[2019-07-22 09:31] glmapper commented on #230
本周先发 SNAPSHOT 版本~

[2019-07-26 08:28] glmapper commented on #234
Since there is no feedback for a long time, please close this issue here first. If you have any questions, you can open it again.

[2019-07-26 08:28] #234 closed, assigned to nobody

[2019-07-29 06:52] #233 closed, assigned to glmapper

[2019-08-02 02:56] #230 closed, assigned to nobody

[2019-08-06 03:21] glmapper opened #247 "update opentracing-api version to 0.32.0"
目前 包括 https://github.com/opentracing-contrib/ 和 spring cloud sleuth 等基于 opentracing-api 版本均为 0.32.0 + 版本，SOFATracer 如果需要对接这些基于 opentracing-api 埋点的组件，需要将版本升级到 0.32.0 版本。

[2019-08-10 15:16] glmapper opened #249 "provide custom reporter to report span data"

[2019-08-13 08:02] panbdun opened #251 "The dataSource annotation does not automatically generate a SmartDataSource instance."
代码配置：
@Bean("dataSourceOfDruid")
@Qualifier("dataSourceOfDruid")
public DataSource dataSourceOfDruid() {
	DruidDataSource dataSource = new DruidDataSource();

	dataSource.setUrl(jdbcUrl);
	dataSource.setUsername(username);
	dataSource.setPassword(password);
	dataSource.setDriverClassName(driverClassName);

	// configuration
	dataSource.setInitialSize(minIdle);
	dataSource.setMinIdle(minIdle);
	dat

[2019-08-13 09:55] glmapper commented on #251
@zy198804065 哪个版本？

[2019-08-14 02:57] panbdun commented on #251
@glmapper   3.0.2

[2019-08-28 14:12] LightShine opened #252 "When did the sofa-tracer upgrade to the official 3.0.6 version, now the central warehouse does not have"
### Your question

describe your question clearly

### Your scenes

describe your use scenes (why need this feature)

### Your advice

describe the advice or solution you'd like

### Environment

- SOFATracer version:
- JVM version (e.g. `java -version`):
- OS version (e.g. `uname -a`):
- Maven version:
- IDE version:

[2019-08-29 01:46] glmapper commented on #252
@LightShine 本周 release

[2019-09-02 03:52] cijianshaonian opened #256 "Two sampling calculations"
### Your question

sofaTracer 在采样计算时rootSpan为什么会计算两次？第一次是生成span时，第二次是在上报前又计算了一次，这两次计算产生的结果可能是不一样的，这样设计的原因是什么？

### Your scenes

describe your use scenes (why need this feature)

### Your advice

describe the advice or solution you'd like

### Environment

- SOFATracer version:
- JVM version (e.g. `java -version`):
- OS version (e.g. `uname -a`):
- Maven version:
- IDE version:

[2019-09-02 07:03] #249 closed, assigned to nobody

[2019-09-05 03:18] zxt47 opened #265 "Spring Async Question"
My Question:
Hello, guys, I want to know When My Project using Spring Async Annotation in order to start another asynchronous task, I will lose the traceID and spanID in the Main Thread，In my opinion, the context can't inherited?
just like this blow:
`2019-09-05 10:54:11,449  [TUMSMsgService-1] c.t.p.i.b.g.TumsServiceImplExample  INFO [ac16b07b1567652051440100111292,0] >Start handle TUMS msg.MsgTy

[2019-09-05 04:02] glmapper commented on #265
@zxt47
A simple implementation is to decorate the context of the current thread to the specified Runnable and finally reset the current thread context.

[2019-09-05 04:02] #265 closed, assigned to nobody

[2019-09-05 04:05] glmapper commented on #256
@cijianshaonian 允许应用本身控制日志量而不依赖请求入口的采样计算

[2019-09-05 04:06] #252 closed, assigned to nobody

[2019-09-05 04:10] cijianshaonian commented on #256
在请求入口的采样计算已经随着链路传到下游了，如果上报前的计算和入口计算不一致，就会产生链路收集不完整的问题

[2019-09-05 06:09] #251 closed, assigned to nobody

[2019-09-05 06:11] glmapper commented on #229
@zy198804065 2.4.1/3.0.6 版本开始，支持 XStringBuilder 格式。详细配置见 [SOFATracer 配置项
](https://www.sofastack.tech/projects/sofa-tracer/configuration/)

[2019-09-05 06:11] #229 closed, assigned to nobody

[2019-09-05 08:09] zxt47 commented on #265
@glmapper

额，为什么这里不能使用InheritableThreadLocal或者阿里自研的transmittable-thread-local？
这里：
[code]

[2019-09-05 08:39] glmapper commented on #256
[code]

span.getParentSofaTracerSpan() == null 这里表明其父类 span 是 null ，也就表示当前 span 是 root span

[2019-09-05 08:52] cijianshaonian commented on #256
@glmapper 如果root span在入口处计算是需要采样的，此结果随链路传递到下游，下游的span已经记录上报了，root span在上报前又计算了一次，这次计算的结果可能是不需要上报的，这就产生了链路不完整的问题了

[2019-09-05 09:12] glmapper commented on #256
A -> B -> C -> D -> E 。 A 作为 root span 计算得到的 sampler 是 true ，假设 C 这里上报时重新计算了 sampler ，结果是 false ，此时A、 B 的 spanContext 中sampler 均是 true .

* C child_of B , C 中执行 上报时  span.getParentSofaTracerSpan() 不为 null，因此不会受到其自身采样计算影响。
* 这里计算的原因：非常规构建 SofaTracerSpanContext 兼容处理

你可以提供下你认为有问题的一条链路，我们一起看下

[2019-09-05 09:33] cijianshaonian commented on #256
A -> B -> C -> D -> E ,A作为root span计算结果为true，它会把他的结果随链路传递下去，B,C,D,E都会使用A的计算结果，而不会重新计算，但是A在作为root span在上报前又重新计算了一次，这次的结果可能和之前的计算结果不一致，这就会导致A没有上报，但B,C,D,E上报了

[2019-09-05 09:38] glmapper commented on #256
[这次的结果可能和之前的计算结果不一致，这就会导致A没有上报，但B,C,D,E上报了]

你有考虑过 A 存在多种采样的可能性吗？

[2019-09-06 03:39] glmapper commented on #256
@cijianshaonian   i will close the issue. if  any other questions , you can open it again

[2019-09-06 03:39] #256 closed, assigned to nobody

[2019-09-07 09:51] rayzeng commented on #235
要做全流程traceid，会有从客户端生产的场景，希望有支持自定义设置的能力

[2019-09-08 07:47] glmapper opened #269 "The DUBBO plugin needs to be configured with additional filters."
目前使用 Dubbo 插件时用户需要显示的配置的 Filter才能生效：
[code]
在使用上需要用户强感知此 filter 的存在，给用户带来一种侵入感。因此期望使得在引入相关 依赖 jar 之后能够自动生效。

[2019-09-17 13:48] wanghuanwei opened #279 "SofaTracer can not generate datasource digest log"
### Your question

when i use sofatracer to trace the execution of sql ,not generate the datasource-digest.log

### Your scenes

application.yml
  datasource:
    url: jdbc:mysql://localhost:3306/datasource
    username: root
    password: root
    driver-class-name: com.mysql.jdbc.Driver
    # 使用druid数据源
    type: com.alibaba.druid.pool.DruidDataSource
 spring:
    application:
      name: dataso

[2019-09-17 13:49] wanghuanwei commented on #279
不太确定是否是配置问题，按照h2的那个示例，没有看到相关的配置

[2019-09-19 13:16] wanghuanwei commented on #279
已经确实是调用的问题，

[2019-09-19 13:16] #279 closed, assigned to nobody

[2019-09-30 02:31] #269 closed, assigned to nobody

[2019-10-17 08:08] glmapper opened #283 "Migrate SOFATracer samples to sofastack-guides"
Migrate SOFATracer samples to [sofastack-guides](https://github.com/sofastack-guides/sofa-tracer-guides)

[2019-10-19 13:52] newmanspace opened #286 "Sofa DataSource tracer unsupport Oracle RAC JDBC URL"
### Describe the bug
Oracle RAC jdbc url is:
jdbc:oracle:thin:@(DESCRIPTION =     (ADDRESS = (PROTOCOL = TCP)(HOST = RAC-DB)(PORT = 1521))     (CONNECT_DATA =       (SERVER = DEDICATED)       (SERVICE_NAME = LOCAL)     )   )
It can't find the port.
### Expected behavior

### Actual behavior

### Steps to reproduce

### Minimal yet complete reproducer code (or GitHub URL to code)

### Environment

[2019-10-21 11:01] glmapper commented on #286
@lcj325 can you provide a simple demo ?

[2019-10-22 05:41] qingfeng-bi opened #287 "Spanid is not displayed correctly in Zipkin"
### Describe the bug
Same traceid, the value of spanid in the file (spring-mvc-digest.log) is "0", but it appears as “af63ad4c86019caf” in Zipkin.

### Expected behavior
The value of spanid should be "0".
### Actual behavior
The value of spanid is "af63ad4c86019caf".
### Steps to reproduce
Run the demo application "tracer-sample-with-zipkin", and visit http: / / localhost: 8080 / hellozipkin throu

[2019-10-22 07:24] glmapper commented on #287
Normal logic, actually will do a conversion

[2019-10-22 07:24] #287 closed, assigned to nobody

[2019-10-23 08:52] #283 closed, assigned to nobody

[2019-11-02 06:23] qingfeng-bi opened #292 "Can link tracking increase the whitelist or blacklist function?"
链路是否可以增加白名单或黑名单功能，来指定或过滤哪些请求需要跟踪，哪些请求不需要跟踪。因为当微服务在k8s上部署时，会有很多心跳检查的请求，这些频繁的心跳检查请求都会被上报到zipkin中，相对来讲可视为“垃圾数据”。谢谢。

[2019-11-05 06:05] ZShUn opened #293 "It is recommended to support zuul and spring cloud gateway"
At present, the tested trace does not support gateways such as zuul and spring cloud gateway. Is there any support for subsequent consideration?

[2019-11-05 11:11] glmapper commented on #292
可以通过自定义采样规则来解决你的问题 ，参考：[自定义采样规则](https://www.sofastack.tech/projects/sofa-tracer/sampler/)

[2019-11-05 11:11] #292 closed, assigned to nobody

[2019-11-05 11:13] glmapper commented on #293
Well, in the plan https://github.com/sofastack/sofa-tracer/issues/226 , if you are interested, please submit a PR

[2019-11-07 07:55] qingfeng-bi commented on #292
已经验证，自定义采样规则只能控制心跳检查的请求是否打印到日志里，不能控制是否上报到zipkin。如何控制是否上报到zipkin呢？

[2019-11-07 13:53] glmapper commented on #292
可以提交一个pr，当上报zipkin时做下采样检验:smile:

[2019-11-08 08:42] qingfeng-bi commented on #292
已经提交pr了，显示Travis CI  Build Failed 是什么原因呢？我用jdk1.8编译的，没用openjdk。

[2019-11-16 13:27] change2 opened #303 "jaeger ui"
### Your question
jaeger ui can use to show trace
describe your question clearly

### Your scenes
jaeger ui  show tracing
describe your use scenes (why need this feature)

### Your advice

describe the advice or solution you'd like

### Environment

- SOFATracer version:
- JVM version (e.g. `java -version`):
- OS version (e.g. `uname -a`):
- Maven version:
- IDE version:

[2019-11-17 06:08] glmapper commented on #303
@changealice Thank you for your attention, and can you describe your problem in detail?

[2019-11-19 07:36] lihangang opened #304 "How to use the dubbo protocol in SOFARPC for link tracking with SOFATracer"
### Environment

- SOFATracer version: 3.0.5
- JVM version (jdk1.8):
- Maven version: 3.2.5
- IDE version: eclipse4.7

[2019-11-19 18:52] change2 commented on #303
i want show the trace in jaeger ui . but i can't ,just find intergation zkpin

[2019-11-20 13:21] glmapper commented on #304
@lihangang can you provide a simple demo project?

[2019-11-20 13:23] glmapper commented on #303
We currently have no plans to support jaeger, and we hope that the community will provide support for this feature.

[2019-11-21 01:40] lihangang commented on #304
hi,&nbsp;This attachment is simple demo project ,&nbsp;or this URL: https://github.com/lihangang/Ghl_demo

===================
Best Regards!
lihangang&nbsp;
Mobeli：18598279907
E-Mail：372397387@qq.com
===================

&nbsp;

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"GuoLei Song"<notifications@github.com&gt;;
发送时间:&nbsp;2019年11月20日(星期三) 晚上9:21
收件人:&nbsp;"sofastack/sofa-tra

[2019-11-23 10:57] glmapper opened #307 "cheery pick features from 3.x"
* cheery pick dubbo 2.6.x bug fix
* cheery pick log format
* cheery pick flexible tracer

[2019-11-27 02:06] lihangang commented on #304
hi , What's the progress of this problem , thinks

[2019-11-27 12:07] glmapper commented on #304
@lihangang it's OK.

![image](https://user-images.githubusercontent.com/35319286/69722055-250f3c00-1151-11ea-9d3a-3c1532415c62.png)

the pom.xml here:
[code]

[2019-11-27 12:20] #304 closed, assigned to nobody

[2019-11-28 02:03] lihangang commented on #304
Hi , The tracking of MVC is always possible, but I want to know is the tracking of softrpc in Dubbo protocol  , I don't see the rpc-digest.log
![image](https://user-images.githubusercontent.com/33613388/69771386-92f64a80-11c7-11ea-908b-29ae8f52b3c1.png)
![image](https://user-images.githubusercontent.com/33613388/69771276-3c890c00-11c7-11ea-88d8-07cf367c788e.png)

[2019-11-28 02:59] glmapper commented on #304
just see this project: https://github.com/glmapper/Ghl_demo
here is the Zipkin ui show:
![image](https://user-images.githubusercontent.com/35319286/69773624-4b26f180-11ce-11ea-826b-aa3df43d3ab0.png)

[2019-11-28 06:35] lihangang commented on #304
hi, Why don't the tracking of MVC ? I don't see the spring-mvc-digest.log , I need tracking for SpringMCV and SofaRPC .
![image](https://user-images.githubusercontent.com/33613388/69782568-5f79e700-11ec-11ea-9248-0b8f68fd5e39.png)

[2019-11-28 07:50] #307 closed, assigned to nobody

[2019-11-28 12:58] XCXCXCXCX opened #308 "Unable to use hikari data source"
### Describe the bug
I found that no data source log output when I use sofa-boot 3.0.0 and hikari dataSource
no datasource-client-*.log output.
ps. sofa-boot 3.0.0 use sofa-tracer 3.0.0
so I use sofa-tracer 3.0.8, but this time it was directly reported that the service failed to start.
Exception Info :
[code]
It can be seen that the proxy processing of the Hikari data source in the bean post-proce

[2019-11-29 02:34] XCXCXCXCX commented on #308
I found the reason that occur exception. it is spring-cloud-config-client.It makes dataSource bean became scopedTarget.dataSource, so DataSourceBeanPostProcessor can not proxy it.

[2019-12-05 06:40] 99246255 opened #312 "SofaTracerFeignClient在使用feign url直接访问并使用链路跟踪时报UnsupportedOperationException"
### Describe the bug
feign同时使用注册中心获取和域名直连的方式
@FeignClient(value = "${服务名}")、@FeignClient(name = "XXXClient",url = "http://xxxxx/")
通过服务名的链路跟踪无问题，通过域名访问的方式会报以下错误:
[code]
问题原因：
SynchronousMethodHandler executeAndDecode方法中
生成Request

    Request request = this.targetRequest(template);
   实际生成代码调用

    Request.create(this.method, this.url(), this.headers(), this.requestBody());

而this.headers方法返回的是Col

[2019-12-05 10:30] glmapper commented on #312
@99246255 使用域名方式用resttemple

[2019-12-06 02:54] glmapper opened #314 "Support RocketMQ Based On Spring Cloud Stream And Spring Message"

[2019-12-06 07:24] 99246255 commented on #312
对外API接口基本都是用feign的,这种可以改SofaTracerFeignClient实现，appendRequestSpanTagsAndInject(request, sofaTracerSpan)遇到UnsupportedOperationException重新构造一个header可编辑的request就行

[2019-12-06 08:29] glmapper opened #316 "support spring data mongodb"

[2019-12-06 09:06] glmapper commented on #312
欢迎提交 PR ，😄

[2019-12-09 06:16] glmapper commented on #308
Thanks for the feedback, and also, are you interested in fixing this problem?

[2019-12-10 12:00] XCXCXCXCX commented on #308
Yes, I can try

[2019-12-12 03:14] gjpine opened #319 "Is sofaTracerSpanReportListener method of SofaTracerAutoConfiguration class missing a row SpanReportListenerHolder.clear ();"
在使用devtools工具开发的时候，SofaTracerAutoConfiguration.sofaTracerSpanReportListener方法里面没有先清理之前SpanReportListenerHolder保存listeners，导致每次热更新的时候，listeners都被重复添加。

[2019-12-12 05:07] glmapper commented on #319
可以提交一个pr修复此问题:grinning:

[2019-12-17 02:21] glmapper opened #320 "Instructions for adjusting tracer-sofa-boot-starter management policy"
## tracer-sofa-boot-starter management

Starting from SOFATracer 3.1.0, the tracer-sofa-boot-starter will no longer be managed under https://github.com/sofastack/sofa-tracer. At that time, the version management and iteration of the tracer-sofa-boot-starter will be released Under https://github.com/sofastack/sofa-boot.

This approach is mainly to make the starter management and control of the sofa

[2019-12-20 08:05] leshalv opened #322 "少提交一个类"
![image](https://user-images.githubusercontent.com/30397655/71239858-8e463180-2342-11ea-96f7-0df3fa70d2e1.png)

[2019-12-21 02:41] zzps opened #323 "Dependency conflict, severe bug"
rpc-sofa-boot-starter:6.0.4
tracer-sofa-boot-starter:3.2.1
描述：项目用以上进行整合时，tracer-sofa-boot-starter所引入的sofa-boot-autoconfigure包中的
SofaRuntimeAutoConfiguration.class依赖的SofaRuntimeConfigurationProperties.class在
rpc-sofa-boot-starter所依赖的runtime-sofa-boot-starter中，但是类路径已经改了，会报ClassNotFoundException异常。
将rpc-sofa-boot-starter所依赖的runtime-sofa-boot-starter排除，
手动引入runtime-sofa-boot-starter:3.2.1，则发现ProviderC

[2019-12-21 03:51] glmapper commented on #323
@zzps https://github.com/sofastack/sofa-tracer/issues/320 从 SOFABoot 3.2.x 版本开始，各组件，包括 tracer/rpc 等 starter 均已统一交由 SOFABoot 管理，见：https://github.com/sofastack/sofa-boot/tree/master/sofa-boot-project/sofa-boot-starters 。但是为了保持 starter 版本的兼容和延续性，各个组件 starter 会在自己仓库中保持适当更新。例如 tracer 将更新 starter 到 3.1.0 版本，后续版本将不在更新，统一跟 SOFABoot 版本迭代；你的问题把  rpc-sofa-boot-starter 版本改成 3.2.1 版本即可

[2019-12-21 03:51] #323 closed, assigned to nobody

[2019-12-21 03:55] glmapper commented on #322
@leshalv SofaTracer 也是在 tracer-core 中，麻烦提供下其他一些具体信息：
* 如果是使用，请提供版本
* 如果是看源码，请提供分支或者 tag

[2019-12-21 03:58] leshalv commented on #322
我用idea clone的主分支

[2019-12-21 04:03] glmapper commented on #322
@leshalv  https://github.com/sofastack/sofa-tracer/blob/master/tracer-core/src/main/java/com/alipay/common/tracer/core/SofaTracer.java

[2019-12-21 04:05] leshalv commented on #322
好怪，我重新clone 试试

[2019-12-21 12:27] #322 closed, assigned to nobody

[2019-12-30 02:34] glmapper opened #325 "Support Spring Cloud Feign In SOFATracer 2.x Version"
Currently, SOFATracer only supports SpringCloud in 3.x, and more SpringCloud components will be supported in 3.x. However, the community has some requirements for feign in 2.x, so it will go from 3.x cheery pick feign plugin to 2.x, but we want to put more effort into the 3.x iteration to support SpringBoot 2.x and later.

related to #320

[2020-01-03 07:19] XCXCXCXCX commented on #308
hello, should I fix it on the 3.x branch?

[2020-01-21 06:49] leizhiyuan opened #335 "Cache the PID"
### Describe the bug

[code]

com.alipay.common.tracer.core.generator.TraceIdGenerator#getTraceId

[code]
### Expected behavior

cache the pid

### Actual behavior

invoke every time

### Steps to reproduce

### Minimal yet complete reproducer code (or GitHub URL to code)

### Environment

- SOFATracer version:
- JVM version (e.g. `java -version`):
- OS version (e.g. `uname -a`):
- Maven version:

[2020-01-21 07:10] #335 closed, assigned to nobody

[2020-02-08 09:07] xzchaoo opened #339 "Disables reporting to zipkin by default and supports customizing tracer logging path"
### Your question

describe your question clearly

### Your scenes

1. App reports data to localhost zipkin by default, causing many errors.
2. Need to customize tracer logging path

### Your advice

1. Disable reporting to zipkin by default
2. Add ENV SOFA_TRACER_LOGGING_PATH to customize tracer logging path

### Environment

- SOFATracer version:
- JVM version (e.g. `java -version`):
- OS versio

[2020-02-09 09:03] #325 closed, assigned to nobody

[2020-02-20 09:37] qimei8685 opened #346 "Does the digest log support zipkin&#39;s json format?"
### Your question
目前落盘的摘要log是固定格式的，能否直接以zipkin的json数据格式落盘？
如果可以如何操作？

[2020-02-20 09:53] glmapper commented on #346
@qimei8685 使用自定义 report ： https://www.sofastack.tech/projects/sofa-tracer/reporter-custom/  + ZipkinV2SpanAdapter 来实现

[2020-02-20 10:28] qimei8685 commented on #346
@glmapper
1. 添加了com.alipay.sofa.tracer.reporter-name这个配置，自己的reporter的bean也初始化了，但是public void report(SofaTracerSpan sofaTracerSpan)方法并没有被调用，默认调用的还是DiskReporterImpl
2. 自定义的reporter和原来打印摘要log的reporter是什么关系？共存的吗？

[2020-02-21 06:48] glmapper commented on #346
@qimei8685 可以提供一个简单的 demo 看下吗？

[2020-03-02 06:30] dong-gy opened #347 "If you use p6spy to monitor sql in Spring Boot project, SOFATracer starts abnormally"
项目中使用SOFATracer，如果数据库使用p6spy做数据库监控，SOFATracer就无法进行sql语句的链路追踪
maven：
![image](https://user-images.githubusercontent.com/48462501/75650786-f80f7f80-5c91-11ea-9f01-e7e50e5c150a.png)
properties:
![image](https://user-images.githubusercontent.com/48462501/75650865-255c2d80-5c92-11ea-810e-a47530d71043.png)
Spring boot整合p6spydemo:
https://www.jianshu.com/p/42c35b320e84

[2020-03-31 09:37] glmapper opened #351 "Performance issues with tracer reportError in high concurrency scenarios"
![image](https://user-images.githubusercontent.com/35319286/78011377-168e9680-7376-11ea-92f7-2355f5c97c3c.png)

![image](https://user-images.githubusercontent.com/35319286/78012340-628e0b00-7377-11ea-9040-35f167d1b419.png)

1、堆栈过大
2、数组拷贝

[2020-04-01 01:49] WengJim opened #393 "Response bytes are always 0"
{"time":"2020-03-31 18:16:45.187","local.app":"demo-weixinLite","traceId":"c0a801d7158564980485811531037","spanId":"0","span.kind":"server","result.code":"200","current.thread.name":"http-nio-59104-exec-2","time.cost.milliseconds":"329ms","request.url":"http://testwxlitedemo.cn/weixin/lite/restaurant/detail","method":"POST","req.size.bytes":165,**"resp.size.bytes":0**,"sys.baggage":"","biz.baggage

[2020-04-10 11:41] glmapper commented on #347
@dong-gy  see #308 . we will merge this pr to support hikari data source

[2020-04-10 11:44] glmapper commented on #346
Since there has been no feedback for a long time, we will close this issue first, and then open it if in doubt.

[2020-04-10 11:44] #346 closed, assigned to nobody

[2020-04-10 11:44] #339 closed, assigned to nobody

[2020-04-10 11:45] #319 closed, assigned to nobody

[2020-04-21 05:13] #314 closed, assigned to nobody

[2020-04-21 05:13] #316 closed, assigned to nobody

[2020-04-24 01:40] davis1214 opened #353 "Does sofa-trace support sofa-rpc based on dubbo protocol?"
sofa-trace 是否支持基于dubbo协议的sofa-rpc啊，需要怎么配置？

[2020-04-24 01:51] davis1214 commented on #353
Does sofa-trace support sofa-rpc based on dubbo protocol, how to configure it?

[2020-05-11 12:18] DraperChen opened #354 "日志采样率较低时如何保证关键信息不遗漏"
### Your question

出于性能和资源考虑，采样率较低时，能否保证不遗漏关键的链路信息：错误、超时等

### Your scenes

describe your use scenes (why need this feature)

### Your advice

describe the advice or solution you'd like

### Environment

- SOFATracer version:
- JVM version (e.g. `java -version`):
- OS version (e.g. `uname -a`):
- Maven version:
- IDE version:

[2020-05-25 13:41] JemyXiao opened #356 "traceid请求串联"
### Your question

springMvc和dubbo请求traceid可以串联起来吗？如何串联

### Your scenes

describe your use scenes (why need this feature)

### Your advice

describe the advice or solution you'd like

### Environment

- SOFATracer version:
- JVM version (e.g. `java -version`):
- OS version (e.g. `uname -a`):
- Maven version:
- IDE version:

[2020-05-29 03:19] zmapleshine opened #357 "DubboSofaTracerFilter Server span tag value error"
## code error

The method `appendRpcServerSpanTags` in class  `DubboSofaTracerFilter` has incorrect values for localhost and local port.

[code]

[2020-05-29 10:35] sunnykaka opened #359 "项目启动的时候SelfLog报NullPointerException"
项目启动的时候报这个异常, 不影响正常功能使用, 但是体验不好.
看代码应该是SelfLog的static初始块里引用了AsyncCommonAppenderManager的初始化方法,
AsyncCommonAppenderManager的初始化方法里又引用了SelfLog.

![IMG20200529175712](https://user-images.githubusercontent.com/1176838/83250470-bfbd0600-a1da-11ea-8af2-f6f9ca66c2bb.png)

- SOFATracer version:
v3.0.4
- JVM version (e.g. `java -version`):
1.8.0_221

[2020-06-03 12:15] alanhan02 opened #360 "feign-core 10.7.x SofaTracerFeignClient inject error"
### Your question

当使用高版本的Spring-Cloud时，例如feign-core为10.7.x，Request对象的headers属性会被包装为Collections.unmodifiableMap(headers)返回，无法通过put进行请求头的数据注入；

### Your scenes

SofaTracer作为插件接入高版本Spring-Cloud项目

### Your advice

应该如何处理？通过RequestInterceptor拦截器么？

### Environment

- SOFATracer version: 3.x
- JVM version (e.g. `java -version`): jdk 1.8
- OS version (e.g. `uname -a`): windows
- Maven version: 3.5
- ID

[2020-06-06 18:19] chenmudu opened #361 "Questions about log reporting path"
Hi. I want to ask where to output and report after log collection. I want to report to Elk via Kafka.

[2020-06-06 18:24] #361 closed, assigned to nobody

[2020-06-08 16:43] chenmudu opened #363 "NPE issues when users extend Reporter"
SpringBoot : 2.1.14.RELEASE
JDK: 1.8.1
自定义扩展Reporter，实现Reporter，并在此注入Spring容器Bean，出现NPE,我应该如何做，才可以把SofaTracerSpan里的Tag数据通过MQ发送到目的地。

[2020-06-09 03:26] wuyupengwoaini commented on #303
jaeger-ui is compatible with zipkin data format，so if you use zipkin plugin of sofa-tracer,it is ok for you to use jaeger-ui to show tracing data in zikin data format

[2020-06-09 07:42] glmapper commented on #363
can you provide a simple case?

[2020-06-09 07:43] glmapper commented on #360
related to #312   #318

[2020-06-09 07:45] glmapper commented on #359
yes, in the works

[2020-06-09 07:52] glmapper commented on #356
@JemyXiao 只要是在一个请求链路上的，tracerId 就是同一个。你可以参考 https://github.com/sofastack-guides/sofa-tracer-guides tracer 的案例工程，将 SpringMVC 和 Dubbo 跑在一起观察下。

[2020-06-09 07:52] #356 closed, assigned to nobody

[2020-06-09 07:55] glmapper commented on #223
#315

[2020-06-09 07:55] #223 closed, assigned to nobody

[2020-06-09 07:57] glmapper commented on #226
open in #293

[2020-06-09 07:57] #226 closed, assigned to nobody

[2020-06-09 07:59] glmapper commented on #354
@DraperChen 采样从链路产生开始就会决定当前log 是否被落盘；如果采样率很低，是无法保证不遗漏的。你可以通过[自定义采样](https://www.sofastack.tech/projects/sofa-tracer/sampler/) 来收集你关注的信息

[2020-06-09 07:59] #354 closed, assigned to nobody

[2020-06-09 08:02] glmapper commented on #353
@davis1214 Refer to dubbo configuration mode

[2020-06-09 08:02] #353 closed, assigned to nobody

[2020-06-09 08:05] glmapper commented on #351
In fact, we need to pay attention to is why we get the errors.

[2020-06-09 08:05] #351 closed, assigned to nobody

[2020-06-09 10:25] davis1214 opened #364 "any plan to integrate spring scheduled"
is there any plan to integrate spring scheduled

[2020-06-09 11:20] chenmudu commented on #363
Hi:
Yes, such as this: after I implemented my own Reporter in the Spring container, I want to send it to the heterogeneous application B through MQ to implement some other operations, such as data cleaning or other;
`public class CustomizedReporter implements Reporter {

    //....

    //....

    @autowired
    private AmqpTemplate amqpTemaplate;

    @Override
    public String getReporterType(

[2020-06-12 09:32] chenmudu opened #365 "Q： Whether to consider supporting Kafka, SpringCloud Gateway, MongoDb."
Whether to consider supporting Kafka, SpringCloud Gateway, MongoDb.

[2020-06-17 13:04] #363 closed, assigned to nobody

[2020-06-18 05:11] #365 closed, assigned to nobody

[2020-06-23 07:17] alanhan02 commented on #312
Another solution:
Define class SofaTracerFeignInterceptor implements RequestInterceptor， override the method 'apply'. Inject trace data into request header by RequestTemplate.

[2020-06-28 08:13] edgeowner opened #367 "Is there any plan to the RabbitMQ Plugins"
### Your question

describe your question clearly

### Your scenes

describe your use scenes (why need this feature)

### Your advice

describe the advice or solution you'd like

### Environment

- SOFATracer version:
- JVM version (e.g. `java -version`):
- OS version (e.g. `uname -a`):
- Maven version:
- IDE version:

[2020-07-08 15:12] chenmudu commented on #364
Spring Scheduled?
Maybe you can customize your thread pool，rewrite the execute method, wrap Runnable into SofaTracerRunnable。
[code]
end:  replace the thread pool that comes with Spring。

[2020-07-09 15:37] chenmudu opened #369 "bug: tracer does not support Oracle tns configuration"
### Describe the bug
 Current sofa-tracer-datasource-plugin does not support Oracle's tns configuration, when I use SpringBoot to start the service.
### A clear and concise description of what the bug is.
In com.alipay.sofa.tracer.plugins.datasource.utils.DataSourceUtils#getEndpointFromConnectionURL , this method does not support Oracle's tns configuration。
### Expected behavior
In com.alipay.sofa

[2020-07-12 22:59] taotao365s opened #371 "tracer-zipkin may loss trace span data"
### Describe the bug
we found sofa-tracer-report will loss data  in out scenario，we have 100+G data per day

 also we found that prefix with **0a** are lost **especially**

![image](https://user-images.githubusercontent.com/1212932/87258437-07bb9200-c4d6-11ea-932b-34a3267a5c5b.png)

### Expected behavior

### Actual behavior

### Steps to reproduce

### Minimal yet complete reproducer code (or Git

[2020-07-15 07:29] taotao365s opened #372 "希望官方推荐使用Jaeger（Jaeger is better one ）"
![trace-sea-zipkin](https://user-images.githubusercontent.com/1212932/87515750-e1048380-c6ae-11ea-8630-e6ef71e7ff53.png)
![trace-jaeger](https://user-images.githubusercontent.com/1212932/87516232-a4855780-c6af-11ea-8142-4c14dcfd3646.png)

- 在内存、CPU、可扩展性、UI展示等各项指标上严重推荐jaeger
- jaeger 兼容支持zipkin协议，无需做其他修改
- 希望官方在此，不限于此，使用jaeger替换zipkin（这是慎重而且负责的推荐）

![image](https://user-images.githubusercontent.com

[2020-07-15 07:32] taotao365s opened #373 "建议研发sofa-tracer-agent"
### Your question

无改造接入是目前的趋势，可参考skywalking、Elastic APM等业界标杆产品

### Your scenes

describe your use scenes (why need this feature)

### Your advice

describe the advice or solution you'd like

### Environment

- SOFATracer version:
- JVM version (e.g. `java -version`):
- OS version (e.g. `uname -a`):
- Maven version:
- IDE version:

[2020-08-01 15:27] chenmudu commented on #367
Maybe can transfer this issue to me. I can try it.

[2020-08-11 06:58] taotao365s opened #376 "SpringMvcSofaTracerFilter优化"
### Your question

com.alipay.sofa.tracer.plugins.springmvc.SpringMvcSofaTracerFilter优化

[code]

### Your scenes

describe your use scenes (why need this feature)

### Your advice

describe the advice or solution you'd like

### Environment

- SOFATracer version:
- JVM version (e.g. `java -version`):
- OS version (e.g. `uname -a`):
- Maven version:
- IDE version:

[2020-08-19 08:24] hejiarui2015 opened #379 "sofa tracser 与apache dubbo 2.7.8 版本不兼容"
### Describe the bug

sofa tracser 与apache dubbo 2.7.8 版本不兼容
由于dubbo 2.7.8 将FutureAdapter 构造函数进行了修改 并且没有进行兼容处理 因此出现改问题

### log

Caused by: java.lang.NoSuchMethodError: com.alibaba.dubbo.rpc.protocol.dubbo.FutureAdapter.<init>(Lcom/alibaba/dubbo/remoting/exchange/ResponseFuture;)V\n\tat com.alipay.sofa.tracer.plugins.dubbo26x.DubboSofaTracerFilter.ensureSpanFinishes(DubboSofaTracerFilter.java:201)

[2020-08-20 11:20] khotyn commented on #379
你应该用

[code]

而不是

[code]

[2020-08-20 11:21] khotyn commented on #376
可以直接提交 PR

[2020-08-24 05:58] hejiarui2015 commented on #379
我用的是 sofa-tracer-dubbo-common-plugin

[2020-08-24 06:00] hejiarui2015 commented on #379
这样配才行：

    <dependency>
      <groupId>com.alipay.sofa</groupId>
      <artifactId>tracer-sofa-boot-starter</artifactId>
      <version>3.0.12</version>
      <exclusions>
        <exclusion>
          <groupId>com.alipay.sofa</groupId>
          <artifactId>sofa-tracer-dubbo-common-plugin</artifactId>
        </exclusion>
      </exclusions>
    </dependency>
    <dependency>
      <groupId>com.

[2020-09-04 03:40] taotao365s opened #383 "traceId is not unique"
### Describe the bug
traceid is not unique in large data

![image](https://user-images.githubusercontent.com/1212932/92197090-5caad180-eea3-11ea-9f4d-b2732fa47746.png)

### Expected behavior

### Actual behavior

### Steps to reproduce

### Minimal yet complete reproducer code (or GitHub URL to code)

### Environment

- SOFATracer version: 3.0.12
- JVM version (e.g. `java -version`):
- OS version

[2020-09-04 08:30] chenmudu opened #384 "Support kafka tracking"
### Your question
 Support kafka tracking

### Your scenes
 use kafka for biz.

### Your advice
add kafka plugin.

[2020-09-09 11:45] glmapper commented on #379
@hejiarui2015 sofa-tracer-dubbo-common-plugin 兼容了 2.6.x 和 2.7.x 的, 方便的话可以提供个复现 demo 吗？

[2020-09-09 11:51] glmapper commented on #371
@spyvip is there any other info provided?

[2020-09-09 11:56] glmapper commented on #383
@spyvip According to the rules of the generation of tracerId, we consider the enough scenes to ensure that its uniqueness;Through the screenshot you provide, we can't catch the key information to verify this.If you can, please provide relevant repetition code.

[2020-09-21 03:29] zmapleshine opened #387 "how can i use it by java agent"
### Your question

This package can't used as instrumentation agent, how can i modify it that can be attached to any java application or dynamically injects bytecode?

[2020-09-24 00:44] yttas opened #388 "spanid的生成规则"
### Your question

我现在的demo写了两个spring boot项目，基于slf4j打印了parentid，但是A里面调用了B，打印出来的spanid。B是0。A的spanid是0.1.1，parentid是0.1
按着spanid的生成规则A的spanid是0.1，parentid是0？

### Your scenes

describe your use scenes (why need this feature)

### Your advice

describe the advice or solution you'd like

### Environment

- SOFATracer version:
- JVM version (e.g. `java -version`):
- OS version (e.g. `uname -a`):
- Mave

[2020-09-24 13:07] glmapper commented on #388
@yttas A -> B 的调用方式是什么？能否提供一个简单的 demo

[2020-09-24 13:08] glmapper commented on #387
@zmapleshine SOFATracer 不是通过 agent 方式进行埋点的

[2020-09-24 13:08] #387 closed, assigned to nobody

[2020-09-24 13:20] yttas commented on #388
感谢老师！！
具体的demo代码放在附件里了。
其中tracer-consumer-slf4j 调用 tracer-service-slf4j，调用的语句就是直接使用restTemplate.getForObject。

spring boot的代码是仿照着sofatracer的git里面的扩展slf4j写的。
（https://github.com/sofastack-guides/sofa-tracer-guides/tree/master/tracer-sample-with-slf4j）
由于刚刚开始接触这些，给您添麻烦了，万分感谢您的回信。

------------------&nbsp;原始邮件&nbsp;------------------
发件人:

[2020-09-29 01:47] yinay commented on #235
Another scenario, how to support upstream Application TraceId, which is generated by SkyWalking.

[2020-10-01 09:08] glmapper commented on #388
@yttas 代码有 git 仓库吗？我拿到的代码中没有看到你扩展 将 parentid 放在 MDC 的逻辑

[2020-10-03 08:14] gitYupan opened #389 "时钟回拨情况下TraceId重复"
### Your question
TraceId 产生规则是： 服务器 IP + 产生 ID 时候的时间 + 自增序列 + 当前进程号
上面的生成规则在时钟回拨的情况下，产生的TraceId应该会重复

[2020-10-04 07:40] glmapper commented on #389
@gitYupan 产生 tracerId 的几个条件还是比较严格的，时钟回拨的场景下是可能会存在产生相同 TraceId 的情况；如果有兴趣可以提个 PR 支持下允许自定义 tracerId

[2020-10-04 07:41] #379 closed, assigned to khotyn

[2020-10-04 07:42] glmapper commented on #389
to #235

[2020-10-07 08:50] yttas commented on #388
老师，因为我想先用简单的方法把这个parentid给输出出来，所以我直接对sofa-tracer里面的这个tracer-extensions源码进行修改了，在里面直接mdc.put进行parentid ，然后修改之后直接打包成新版本的依赖，我在我的spring mvc的应用代码就是依赖我自己打包的这个新的tracer-extension了。所以具体的添加在这个Tracer-extensions里面。
Tracer-extensions修改之后在附件里面；

还有就是用sofatracerslf4j扩展的依赖包打印log的时候也是能看出来，traceid是0.1.1
git地址：https://github.com/yttas/tracer-demo

------------------ 原始邮件 ------------------
发件人:

[2020-10-09 08:50] keith-java opened #390 "在springcloud应用中引入sofatrace仅仅想使用MDC功能如何实现"
### Your question

在springcloud应用中引入sofatrace仅仅想使用MDC功能，发现SofaBootstrapRunListener启动早于BootstrapApplicationListener，这样导致bootstrap无法获取相关的bootstrap.yml配置导致无法启动

### Your scenes

旧工程改造，想快速增加应用日志链路（单个应用级别）

### Your advice

describe the advice or solution you'd like

### Environment

- SOFATracer version:3.4.4
- JVM version (e.g. `java -version`):1.8.0_231
- OS version (e.g. `uname -a`):Linux x86_64 x8

[2020-10-20 03:34] keith-java commented on #390
该问题通过增加Environment的aware解决配置加载问题

[2020-10-20 03:34] #390 closed, assigned to nobody

[2020-10-28 14:11] chenmudu opened #394 "Add skip url patters to SpringMvcSofaTracerFilter."
### Your question

Add skip url patters to SpringMvcSofaTracerFilter when use SOFA-Tracer。

### Your scenes

use SOFA-Tracer when tracing spring mvc.

### Your advice

Add skip url patters to SpringMvcSofaTracerFilter when use SOFA-Tracer。

### Environment

- SOFATracer version: 3.0.7
- JVM version (e.g. `java -version`): JDK8

[2020-10-29 02:15] glmapper commented on #394
@chenmudu This can be done by custom sampling

[2020-10-29 02:16] #394 closed, assigned to nobody

[2020-11-26 08:27] chenmudu opened #396 "bug fix: kafka-plugin CR operation is invalid ."
### Describe the bug

kafka-plugin  CR operation is invalid . the thread of CR operation and CS operation is not the same 。case producer enhance by kafka call back.
### Expected behavior
the context of kafka send ends safely.
### Actual behavior
 but it occupies the span of the parent node context。
### Steps to reproduce
send kafka mq and watch logs content.
### Minimal yet complete reproducer cod

[2020-12-03 02:03] yuhao0926 opened #398 "tomcat容器运行，存在内存泄漏风险"
### Describe the bug
场景：
spring应用引用了sofa tracer的springmvn+zipkin两个依赖，进行链路监控
操作：
当spring应用运行在tomcat容器中时，直接对应用redeploy
结果：
tomcat的线程清理（WebappClassLoaderBase.clearReferencesThreads）发现相关线程无法被收回
发现日志后，通过对jvm线程监控，tomcat容器不动，应用多次redeploy，相关线程的确会重复创建，且无法gc回收
···

03-Dec-2020 09:55:37.776 警告 [RMI TCP Connection(13)-127.0.0.1] org.apache.catalina.loader.WebappClassLoaderBase.clearReferencesThreads Web应用程序[b

[2020-12-03 02:16] ujjboy commented on #398
这个线程是单例，应该没有问题的。

你 jstack 确认下 redeploy 之后 Tracer-AsyncConsumer-Thread-SelfLogAppender 线程有多个吗？如果只有一个的话，那就没问题。

[2020-12-03 02:21] yuhao0926 commented on #398
通过jvm监控，已经确认有这种情况

![image](https://user-images.githubusercontent.com/33140963/100955302-428b9880-3551-11eb-9abf-ca00aed7dfb2.png)

[2020-12-03 02:24] ujjboy commented on #398
好的，那就说明有问题。  你的 redeploy 是怎么操作的，复现方法有不？

[2020-12-03 02:29] yuhao0926 commented on #398
可以通过本地测试复现
（1）本地使用idea运行tomcat容器，且运行应用
（2）正常进行tracer监控测试，确保tracer线程运行
（3）使用idea的redeploy按钮，或者执行对应命令
（4）jvm监控即可复现

![image](https://user-images.githubusercontent.com/33140963/100955758-145a8880-3552-11eb-9773-bc9b34df31c9.png)

[2020-12-03 03:08] ujjboy commented on #398
@yuhao0926  场景收到，这种直接部署war，不同 classloader的 case 我们看一下。

[2020-12-03 03:22] yuhao0926 commented on #398
好的谢谢，这种情况在我理解，可能类似log4j，mysql-conn这种情况，它们是提供了一个手动clear的shutdown方法，这样在类似不同classloader的情况下，可以进行线程安全控制，例如tomcat可以通过注册ServletContextListener的contextDestroyed方法进行一些销毁操作。。不知道sofa-tracer是否原理相同

[2020-12-05 02:03] zzps commented on #312
我项目中的feign-core是10.10.1版本，feign.Request类中的170行headers方法直接是返回`Collections.unmodifiableMap(headers)`，这个操作是真把我搞死，不过它又有一个口子RequestTemplate可以放，但是sofatracer没有进行适配，我看都一年不更新了，是不是烂尾了啊

[2020-12-07 02:59] #396 closed, assigned to chenmudu

[2020-12-07 03:00] glmapper commented on #393
@WengJim 关于获取 http 结果及请求大小这块是已经问题，我们将在下个版本提供重新的计算方法来优化这个问题

[2020-12-07 03:02] #389 closed, assigned to nobody

[2020-12-07 03:04] glmapper commented on #383
related to #235

[2020-12-07 03:04] #383 closed, assigned to nobody

[2020-12-07 03:12] glmapper commented on #373
@spyvip SOFATracer 的埋点机制与 agent 是完全不一样的，目前业界也有基于 agent 做的非常好的产品（sw），所以我们暂时没有计划支持 sofa tracer agent 版本

[2020-12-07 03:12] #373 closed, assigned to nobody

[2020-12-07 03:14] #357 closed, assigned to nobody

[2020-12-07 03:15] glmapper commented on #308
yes, just pr to 3.x

[2020-12-07 03:44] glmapper commented on #312
3.1.0 计划本周 release，关于这个问题相关 PR 已经 ready，如果你有其他更好的解决方案，也欢迎提供 PR

[2020-12-07 06:39] glmapper commented on #235
如果你的应用和你的下游应用使用的产生 tracerId 的生成策略是不一致的，那么就可能会导致我们整个链路错乱。提供扩展生成 tracerId 是个非常简单的事情，但是由此带来的一些链路正确性和安全性问题就没有办法得以保障。

[2020-12-07 13:38] chenmudu commented on #376
submit code to branch 3.x.

[2020-12-07 14:27] chenmudu opened #402 "MongoClientTracer tracer type name is incorrect。"
### Describe the bug

MongoClientTracer tracer type name is incorrect。

### Expected behavior
MongoClientTracer tracer type name is mongo client.

### Actual behavior
MongoClientTracer tracer type name is open-feign.
### Environment

- SOFATracer version: 3.x

[2020-12-09 13:53] chenmudu commented on #372
我也持有同样的观点，并已做测试，已确认Jaeger兼容 Zipkin Rest Api。 具体详见 [sofa-tracer-guides-zipkin](https://github.com/sofastack-guides/sofa-tracer-guides/tree/master/tracer-sample-with-zipkin)并确保Jaeger Collector & Query Ui已经启动即可观测到具体情况 。

[2020-12-21 03:10] songcan commented on #312
使用高版本的spring boot 报错 UnsupportedOperationException
，这个什么时候发布版本呢？

[2021-01-15 03:06] chenmudu opened #413 "When will the trace data be bridged to Open-Telemetry."
### Your question

According to personal opinion, Open-Telemetry will become the standard of observability. When will the trace data be bridged to Open-Telemetry Collector.

### Your advice

Bridge trace data from SOFA Tracer to OpenTelemetry Collector. Thanks a lot.

[2021-01-15 10:53] glmapper opened #415 "flexible tracer get result.code with 99 when invoke success"
[code]
to

[code]

[2021-01-29 06:46] #384 closed, assigned to glmapper, chenmudu

[2021-01-29 06:46] #376 closed, assigned to nobody

[2021-01-29 06:46] #369 closed, assigned to chenmudu

[2021-01-29 06:46] #286 closed, assigned to nobody

[2021-01-29 06:47] #367 closed, assigned to glmapper

[2021-01-29 06:48] #312 closed, assigned to nobody

[2021-01-29 06:48] #360 closed, assigned to nobody

[2021-01-29 06:49] #308 closed, assigned to nobody

[2021-01-29 06:49] #347 closed, assigned to nobody

[2021-01-29 06:50] #415 closed, assigned to nobody

[2021-02-03 09:56] DonaldHanSoftWare opened #416 "spring boot 2.x logging.path 过期"
### Describe the bug

spring boot 2.x版本中，logging.path属性已过期，使用logging.file.path无效

### Environment

- SOFATracer version: latest
- JVM version  1.8
- String boot 2.4.1

[2021-02-08 03:40] glmapper opened #418 "migrate master to 2.x branch and 3.x to master"
We focused more on the 3.x version, so we migrated the 3.x version to the master branch

[2021-02-20 00:49] taotao365s opened #421 "Current time must greater than start time"
### Describe the bug

[code]

![image](https://user-images.githubusercontent.com/1212932/108576277-f3871f80-7357-11eb-9c0a-29aa357d9a9c.png)

### Expected behavior

as its role of framework， sofa-tracer should `eat low level exception` , thanks

### Actual behavior

### Steps to reproduce

### Minimal yet complete reproducer code (or GitHub URL to code)

### Environment

- SOFATracer version: `3.0

[2021-02-20 11:53] glmapper opened #425 "support trace java.util.function interface"

[2021-02-20 14:07] khotyn opened #426 "Speed up test by remove sleep code"
SOFATracer's test cases code contains a lot of `Thread.sleep();` which makes the test case run slow, we should remove the sleep code, replace them with periodically assertion to speed up the test

[2021-02-20 14:27] khotyn opened #428 "Optimize imports"
Optimize imports of SOFATracer, such a lot of unused import.

[2021-02-22 02:33] chenmudu commented on #421
@spyvip Maybe you can give more use cases to facilitate troubleshooting. It seems like a time disorder, we need to determine what caused the abnormal time comparison.The correct cs & cr times should be distinguished by time.

[2021-02-22 02:46] chenmudu commented on #416
@DonaldHanSoftWare  It seems that the version of SpringBoot that the current version of SOFA-Boot depends on is too low.
There are currently two solutions:
 1. Lower the SpringBoot version of the your application.
 2. Sofa-Boot adapts to the higher version of SpringBoot(Shouldn't be here).
@khotyn @glmapper  Hi, how do you think about it? Thanks.

[2021-02-23 13:10] taotao365s commented on #421
@chenmudu  so am I, but no more log in production machine, sorry brother

[2021-02-23 14:10] khotyn commented on #416
@chenmudu I think SOFABoot should adapt higher version of SpringBoot. @ujjboy could you take a took at this issue?

[2021-02-24 01:58] #418 closed, assigned to nobody

[2021-02-24 02:08] ujjboy commented on #416
We can add code to `TracerLogRootDaemon.java` and get the property of `logging.file.path` and  `logging.path` at the same time.

https://github.com/sofastack/sofa-tracer/blob/5d74b09f38188b64d313de7a228af584dc011104/tracer-core/src/main/java/com/alipay/common/tracer/core/appender/TracerLogRootDaemon.java#L60-L68

[2021-02-24 02:28] glmapper commented on #416
@DonaldHanSoftWare At the current, you can resolve by set SOFA_TRACER_LOGGING_PATH=xx in your properties or -DSOFA_TRACER_LOGGING_PATH=xx or -DloggingRoot=xx , And we will adapter logging.file.path in 3.1.1 version. thank you for your feedback.

[2021-02-24 02:59] chenmudu commented on #421
No problem. Let's keep waiting.

[2021-02-24 08:33] #402 closed, assigned to nobody

[2021-03-09 08:05] leizhiyuan opened #431 "ark模式下启动有一定概率NoClassDefFoundError"
sofaboot 版本 3.4.5

[code]

[2021-03-09 15:44] chenmudu commented on #235
所以这个issue讨论的结果，是否需要做 traceId 默认生成规则的修改(traceId变化更加明显)以及是否去支持用户自定义traceId？ @glmapper

[2021-03-09 15:47] chenmudu commented on #413
@khotyn  Hi, has this issue been discussed yet? What do you think? Thannnnks a lot.

[2021-03-10 03:31] khotyn commented on #413
@chenmudu No, you can provide a design document about how to doing this.

[2021-03-10 03:35] khotyn commented on #235
如果提供自定义的 traceId，关键还是要看自定义的 traceId 能否保证全局的唯一性。

[2021-03-11 03:26] chenmudu commented on #235
😀 个人认为, 也许可以开放给用户，由用户自行去保证唯一性。

[2021-03-11 03:26] chenmudu commented on #413
Ok, copy that.

[2021-03-19 09:37] taotao365s commented on #235
- 保持现有默认规则
- 增加扩展，至于使用由用户来保证即可

[2021-03-19 09:39] taotao365s commented on #371
@glmapper too many factor can cause it. eg. jvm crash 、network reason and so on.

[2021-04-13 12:16] wtlihao opened #435 "SpringMVC请求日志添加请求体信息"
### Your question
目前版本只有方法名字、请求耗时、以及url信息，但是没有请求体信息

### Your scenes
SpringBoot项目集成sofa-tracer收集http请求日志，然后上传到es或者其他日志平台
### Your advice
sofa-tracer源码看是插件的形式去做日志，SpringMvc插件实际也是基于servlet的标准filter去做的参数透传，所以在这里做一些处理

### Environment
- SOFATracer version:最新版
- JVM version (e.g. `java -version`):jdk11
- OS version (e.g. `uname -a`):centos7
- Maven version:3.x
- IDE version:2021.3

[2021-04-14 00:56] taotao365s commented on #421
oh, it happens again in one jvm process.

here is our custom Tracer plugin and biz system aop, plz help me.

I think that`this.clientReceive(resultCode);` code is broken, but don't know why.

- SimpleTracer

[code]

- out biz system  spring AOP

[code]

[2021-04-14 03:34] glmapper commented on #435
@wtlihao 1、请求参数中可能会包括一些敏感信息，直接落在日志，有安全风险，需要做脱敏处理，tracer 在 3.1.1 版本提供了扩展 encoder 的能力 2、http 流在读取之后不可再读，需要包装成 ContentCachingRequestWrapper 或 MultipleReadHttpRequest。

对于 sofa tracer 来说，其更多关注在于链路串联，业务层面需求可以通过 sofa tracer 提供的一些扩展机制进行业务自定义实现，所以这块建议通过手动埋点方式去处理下，将请求体数据落盘或者上报

[2021-04-14 04:02] leizhiyuan commented on #431
关闭

[2021-04-14 04:02] #431 closed, assigned to alaneuler, glmapper

[2021-04-15 01:40] #428 closed, assigned to khotyn

[2021-04-15 07:06] chenmudu commented on #421
Can you show me how to put the current SimpleTracer into the Spring container?

[2021-04-15 13:51] #425 closed, assigned to khotyn

[2021-04-15 14:35] #416 closed, assigned to glmapper

[2021-04-16 00:24] #426 closed, assigned to khotyn

[2021-04-16 09:18] glmapper commented on #388
@yttas is there any other problems?

[2021-04-21 10:47] taotao365s commented on #421
[code]

`AbstractClientTracer` is `com.alipay.common.tracer.core.tracer.AbstractClientTracer`

[2021-04-22 10:33] chenmudu commented on #421
@spyvip
Could you give me more information?

For example, how **AOP** is currently placed in the spring container? Do you Annotate(Aspect) the class directly? Or use the SpringBoot Auto Configuration mechanism and so on. The most effective way is to give a **reproducible example**.It may be possible to pinpoint the exact cause.

First of all, according to the current given phenomenon, we see end t

[2021-05-07 07:20] heepy opened #437 "sofa-tracer-redis-plugin 支持的spring data redis客户端以及jedis客户端版本"
### Your question

sofa-tracer-redis-plugin 是否支持spring data redis 以及相应的starter？
sofa-tracer-redis-plugin 支持的spring data redis以及 jedis版本？支持的最新版本和最老版本是什么？

[2021-05-08 03:20] glmapper commented on #437
@heepy see https://github.com/sofastack/sofa-tracer/blob/master/sofa-tracer-plugins/sofa-tracer-redis-plugin/pom.xml

[2021-06-16 08:18] taotao365s opened #440 "support global tag of tracer in current whole system"
### Your question

we want to distinct different region (or other key biz info), for example  , it is zone1, when it is in zone1. it is zone2, when it is in zone2

### Your scenes

describe your use scenes (why need this feature)

### Your advice

describe the advice or solution you'd like

### Environment

- SOFATracer version:
- JVM version (e.g. `java -version`):
- OS version (e.g. `uname -a`):

[2021-06-21 12:38] glmapper commented on #440
@spyvip can you provide more information about the scene? maybe the biz baggage could support this case?

[2021-06-21 12:39] #437 closed, assigned to nobody

[2021-06-26 03:32] KYV365 opened #441 "MQ里面调用redis，MQ的日志打印traceId正常，紧跟着redis set命令打印traceId丢失"
### Your question
MQ里面调用redis，MQ的日志打印traceId正常，紧跟着redis set命令打印traceId丢失

redisTemplate.opsForValue().set("test mq redis", "test mq redis");
log.info("test mq redis end 1");
log日志的traceId丢失，断点进入redis的插件，里面traceId是正常封装
describe your question clearly

### Your scenes
![image](https://user-images.githubusercontent.com/49931739/123500584-b4543c80-d671-11eb-9b04-8d817b8cf75b.png)
@StreamListener(value

[2021-06-30 06:49] zmapleshine opened #442 "dubbo trace cross-process invocation propagation"
https://github.com/sofastack/sofa-tracer/blob/ca868465613c7cdd86b2de943e472201d8734469/sofa-tracer-plugins/sofa-tracer-dubbo-plugin/src/main/java/com/alipay/sofa/tracer/plugins/dubbo/DubboSofaTracerFilter.java#L160

when this filter invoking as client filter ,this line shows that use invocation as trace 'cross-process' propagation medium.

is this a deprecated filter?

[2021-07-05 01:16] glmapper commented on #442
@zmapleshine 使用的 Dubbo 版本是多少？

[2021-07-05 01:18] glmapper commented on #441
@raojun0504 当前使用的 SOFAtracer 版本是多少？可以看下 release node ,以确认当前版本是否支持 redis 客户端埋点

[2021-07-05 01:20] #435 closed, assigned to nobody

[2021-07-08 06:19] KYV365 commented on #441
![image](https://user-images.githubusercontent.com/49931739/124872153-794df380-dff7-11eb-8383-fd93e10c4ff0.png)
查看了是支持的

[2021-07-15 01:13] glmapper commented on #388
@yttas we will close this issue , if you have any other feedback, you can reopen this again.

[2021-07-15 01:13] #388 closed, assigned to glmapper

[2021-07-15 01:18] glmapper opened #443 "SOFATracer support report trace data to jaeger and skywalking"
* [Summer 2021 of Open Source Promotion Plan](https://summer.iscas.ac.cn/#/?lang=en)
* [“开源之夏” SOFAStack 社区 9 个项目任务上线，学生申请正式开始](https://www.sofastack.tech/activities/summer-2021-of-open-source-promotion-plan/)

#303 #372

[2021-07-15 01:21] chenzhao11 commented on #372
目前我正在实现SOFATracer support report trace data to jaeger and skywalking

[2021-07-16 09:31] kailll opened #444 "增加sofa-tracer项目中插件的自动配置"
sofa-tracer中新增了kafkamq，rabbitmq，rocketmq，springmessage，redis，mongodb插件，希望sofaboot增加下自动配置

[2021-07-21 08:03] #444 closed, assigned to nobody

[2021-08-13 08:29] xyohn commented on #416
hi, i find that it's not merged in the current version ,will it change  in the next version ?

[2021-08-16 10:45] xyohn opened #447 "OpenFeign 10.7.3+版本兼容问题"
### Describe the bug

SofaTracer对于Feign的实现中，SofaTracerFeignClient类execute方法内 对于UnsupportedOperationException异常是通过重建request对象实现的，其中的Body是通过获取request.requestBody()实现的
在OpenFeign 10.7.2版本及之前，这个实现是正确的
且通过代码注释来看，body和charset方法已经Deprecated，需要使用requestBody方法代替
https://github.com/OpenFeign/feign/blob/10.7.2/core/src/main/java/feign/Request.java
但在OpenFeign 10.7.3版本开始，requestBody这个方法被OpenFeign废弃了，方法直接消失了，而

[2021-08-18 01:57] glmapper commented on #447
@xyohn thank you for your feedback, we will support in 3.1.2 version.

[2021-08-19 09:01] chenzhao11 commented on #443
# 上报SW的span的转换
## 每一个Span封装成一个Segment发送
### 几种关键数据属性

#### Segment

[code]

#### Span

[code]

#### SegmentReference

代表segment之间的关系

[code]

### 把每一个span单独封装成一个segment

[SW中的三种Span](https://skywalking.apache.org/docs/main/latest/en/protocols/trace-data-protocol-v3/#send-trace-and-metrics)，EntrySpan（代表service provider），EntrySpan（代表没有和其他remote service关联的方法），ExitSpan（client of service ），在转换的过程中是根据So

[2021-08-20 08:20] dkwdjq opened #448 "不使用sofa boot，使用spring boot parent，依赖tracer-sofa-boot-starter时启动报错"
公司内部项目无法替换依赖的parent为sofa boot，只能使用spring boot parent，在这种情况下想要使用tracer-sofa-boot-starter，怎么解决

[2021-08-24 12:34] #413 closed, assigned to nobody

[2021-08-26 11:37] nobodyiam commented on #448
I think you could import sofaboot-dependencies in dependencyManagement, e.g.

[code]

[2021-08-30 02:15] chenzhao11 commented on #443
### 关于SW展示拓扑图的不可行讨论

#### 正常展示拓扑图需要的参数

* Exit Span中需要设置Peer，在Dubbo中可以通过拼接`remote.host`与`remote.port`得到，在SofaRPC中通过`remote.ip`的到ip和端口信息

* Entry Span中的peer（对应调用自己的Exit Span的地址）在Dubbo中可以通过拼接`remote.host`与`remote.port`得到，在sofaRpc中`remote.ip`只有ip信息没有端口，同时也没有`local.ip`只能自己获取本机的ip

* Entry Span中的SegmentReference定义如下;

[code]

  其中`traceId`、`parentTraceSegmentId`、`parentSpanId`是构建trace的几个关键字段，可以获得。`netw

[2021-10-22 06:07] glmapper commented on #448
@dkwdjq can you provide more info for this issue, such as `exception stack`.

[2021-11-09 11:04] newboy2004 opened #457 "does support dubbo async invoke???"
### Your question

describe your question clearly

### Your scenes

describe your use scenes (why need this feature)

### Your advice

describe the advice or solution you'd like

### Environment

- SOFATracer version:
- JVM version (e.g. `java -version`):
- OS version (e.g. `uname -a`):
- Maven version:
- IDE version:

[2021-11-12 00:32] taotao365s commented on #440
@glmapper  we want to controll global tag just in init or start when application start, so it can upload to jaedger or zipkin, so can to mark it

[2021-11-12 08:34] glmapper commented on #457
@newboy2004 支持

[2021-11-12 08:34] #457 closed, assigned to nobody

[2021-12-31 01:05] it-linnan opened #463 "Redis plugin未恢复paren span,导致span id的层级无限增长"
### Describe the bug
链路中每执行一次redis操作，span id就会向下增长一层。
此时日志输出如下所示：
[0.1] 接受到请求
[0.1.1] 执行业务处理1
[0.1.2] 执行redis处理1
[0.1.2.1] 执行业务处理2
[0.1.2.2] 执行redis处理2
[0.1.2.2.1] 执行业务处理3
...

### Expected behavior
redis plugin 在redis操作结束，记录span日志、上报span后，将parent span恢复到当前栈（SofaTraceContext）
此时日志输出如下所示：
[0.1] 接受到请求
[0.1.1] 执行业务处理1
[0.1.2] 执行redis处理1
[0.1.3] 执行业务处理2
[0.1.4] 执行redis处理2
[0.1.5] 执行业务处理3
...

### Actu

[2022-03-29 03:04] glmapper opened #473 "Open Source Promotion Plan 2022 - upgrade opentracing api version & adapter opentelemetry api"
Currently, sofa-tracer relies on the openTracing version 0.22.0. This version has been out of date for a long time and we need to update to the official recommended stable version. In addition, we need to provide an API layer to accommodate OpentElemetry.
Tasks:
1、upgrade opentracing version to [release-0.33.0](https://github.com/opentracing/opentracing-java/releases/tag/release-0.33.0)
2、adapter

[2022-04-02 10:20] seeflood commented on #473
宋老师优秀
我开了个课题征集的 issue https://github.com/sofastack/sofastack.tech/issues/876
![image](https://user-images.githubusercontent.com/26001097/161378805-7ab41d6c-bd69-4a01-89e4-0f6998344df5.png)

[2022-04-02 16:04] dinglianghui commented on #473
老师，能不能带我一个，对开源很有兴趣，方便的话加个微信呗dlh1247726484

[2022-04-03 13:39] seeflood commented on #473
@dinglianghui 好呀好呀欢迎，不过现在离学生报名还早，可以先看下社区其他活动
比如源码解析
https://github.com/sofastack/sofa-registry/issues/205
https://github.com/mosn/layotto/issues/444

或者 新手任务系列
https://github.com/mosn/layotto/issues/108#issuecomment-872779356

[2022-04-14 08:33] vwyuheng commented on #473
老板啥时候升级完成@[glmapper](https://github.com/glmapper)

[2022-04-14 08:50] glmapper commented on #473
按照开源之夏去年的进度，学生完整完成项目需要到9-10 月份左右

[2022-04-25 09:11] SoftwareKing opened #474 "SofaTracer如何支持Agent接入方式"
SofaTracer支持Agent接入方式

[2022-05-02 04:45] taotao365s opened #475 "spring cloud 3中的openfeign支持"
### Describe the bug

spring cloud 3中移除了ribbon的支持，使用了自定义的rebalance
![image](https://user-images.githubusercontent.com/1212932/166185400-a4c913f3-2da2-4046-971a-88eba8877cdd.png)

A clear and concise description of what the bug is.

### Expected behavior

### Actual behavior

### Steps to reproduce

### Minimal yet complete reproducer code (or GitHub URL to code)

### Environment

- SOFATracer vers

[2022-05-03 08:39] taotao365s opened #476 "spring cloud gateway webflux集成问题"
### Describe the bug
spring cloud gateway： 3.0.6

- 问题1

当后端xx-service没有启动时，traceId不在变换（线程复用了？），spanId就会自动后延，初步怀疑spanId没有清空
访问一个不存在的url，现象同上
正常启动且url存在，traceId和spanId正常。

- 问题2

spanId 从网关进来就直接是`0.1.2`？不应该是`0`么，还是reactor切换了多个上下文？

[code]

### Expected behavior

### Actual behavior

### Steps to reproduce

### Minimal yet complete reproducer code (or GitHub URL to code)

### Environment

- SOFATrac

[2022-05-05 13:43] seeflood commented on #474
没太懂啥意思呀，您想实现啥效果，可以详细描述下

[2022-05-06 08:29] glmapper commented on #474
@SoftwareKing SofaTracer 不是通过字节码增强来实现埋点的，所以不存在支持 Agent 接入方式的说法

[2022-05-06 08:30] glmapper commented on #476
@taotao365s 从现象看是线程复用导致，可以提供一个简单的复现 demo 吗？

[2022-05-06 08:31] glmapper commented on #475
@taotao365s 高版本的 spring cloud 支持确实存在问题，感谢反馈；如果有兴趣可以提供一个 pr 来支持此功能

[2022-05-11 01:50] SoftwareKing opened #478 "基于SOFAArk实现类加载器加载外置的SofaTracer的Spring Boot Starter插件"
基于SOFAArk实现类加载器加载外置的SofaTracer的Spring Boot Starter插件，这样也能实现SofaTracer插件的升级自主可控不影响业务
@quaff @khotyn @nobodyiam @jjtyro @ujjboy

[2022-05-11 02:24] glmapper commented on #478
It's not a good idea

1. Importing and exporting classes by SofaTracer itself makes relationships complicated and difficult to maintain

2. Is there any particular scenario that requires a separate hot upgrade of the SofaTracer plugin,  because introducing SOFAArk would complicate the business runtime structure

3. SOFAArk mainly solves problems in two scenarios: 1. Dependency conflict; 2. Merge d

[2022-05-11 03:32] SoftwareKing commented on #478
用spring boot类加载器，加载外置的Spring Boot Starter呢？不需要热加载 @glmapper 你可以理解只加载外置的Spring Boot starter即可

[2022-06-01 02:19] chenzongshun opened #479 "datasource 模块如何记录完整的 sql 语句，包含参数的那种"
datasource 模块如何记录完整的 sql 语句，包含参数的那种，我需要记录完整的 sql 到日志，后续要放到 kafka 内的。
我翻阅源码到这里，但始终无法获取这个值对象，想尽量在不接入 p6spy 项目的情况下获取完整的sql

![image](https://user-images.githubusercontent.com/40053656/171315063-9c5705ff-e734-48ae-b376-48dc9a812efe.png)

[2022-06-15 10:49] keith-java opened #488 "sofa-tracer-kafkamq-plugin支持ProducerListener解决方案"
sofa-tracer-kafkamq-plugin集成到sofa-boot足以满足常规生产/消费，有一种场景现在无法满足，请教一下实现方案

场景：kafka生产者异步回调实现中日志无法关联tracer

代码使用场景：
1、ListenableFuture
2、ProducerListener

如果需要支持以上两种代码的回调实现tracer功能，应该怎么实现

[2022-06-17 09:39] #479 closed, assigned to nobody

[2022-07-29 06:46] JagdtigerI opened #485 "sofatracer的tracerId不一定为30位"
### Describe the bug

![image](https://user-images.githubusercontent.com/25842839/181699050-b2d2b712-3593-4f90-a1be-7dd8c0e789b1.png)

sofaTracer的tracerId无法保证是30位
后五位为pid,pid可能不满5位，也可超过5位
linux 64 位系统 pid 最高 2^22 为4194304

![image](https://user-images.githubusercontent.com/25842839/181699657-1a57c935-c126-4045-b3ca-262f136aee32.png)

### Expected behavior

### Actual behavior

### Steps to reprodu

[2022-08-01 05:04] vacuityv commented on #265
我这边通过自定义async的线程池，然后自定义线程池的TaskDecorator来实现的

[2022-08-04 08:39] ddq123456 opened #487 "sofa-tracer-httpclient-plugin使用httpclient连接池，请求发生异常时,内存泄漏，spanId无限变长"
### Describe the bug

使用httpClient使用连接池请求发生异常时，com.alipay.sofa.tracer.plugins.httpclient.interceptor.SofaTracerHttpInterceptor#process(org.apache.http.HttpResponse, org.apache.http.protocol.HttpContext) 无法调用到，导致无法调用sofaTraceContext.pop()，导致内存泄漏，并且spanId 会无限加长(.1.1.1.1.1.1),后续异常请求无限嵌套SofaTracerSpan对象。
![image](https://user-images.githubusercontent.com/25599808/182799998-d81f10e6-87ce-4e12-bdc9-886c

[2022-08-04 08:58] ddq123456 commented on #487
version=4.5.10
groupId=org.apache.httpcomponents
artifactId=httpclient

[2022-08-05 09:36] xzchaoo commented on #485
文档描述有些问题, 没有保证30位. 实践中也不要假设traceId的长度.

[2022-08-11 04:09] glmapper commented on #487
@ddq123456 能提供一个 demo 吗？

[2022-08-11 04:13] glmapper commented on #488
@keith-java spanContext 的传递在消息场景依赖的是 消息头传递，理论上不管是同步还是异步，只要返回的消息头中存在 spanContext，就可以解析出来，然后塞到 MDC 中去以关联日志，可以尝试从这个思路解决。也欢迎提供 PR 支持此场景

[2022-08-11 04:13] #485 closed, assigned to nobody

[2022-08-11 04:17] #474 closed, assigned to nobody

[2022-08-11 04:19] glmapper commented on #478
这个场景还是挺少的， @SoftwareKing 可以提供 PR 和 demo 来验证这个场景的有效性吗？相比于动态加载单个插件带来的问题，recompiler & redeploy 可能更简单

[2022-08-11 04:21] glmapper commented on #443
@nobodyiam @xzchaoo 请评估下这个 PR 是否可以 merge 并且发布

[2022-08-11 04:22] glmapper commented on #441
@raojun0504 可以debug 看下 MDCSpanExtension 是否有被执行到

[2022-08-12 08:23] ddq123456 commented on #487
[文件.zip](https://github.com/sofastack/sofa-tracer/files/9314813/default.zip)
就定时任务里面调下不能访问的地址，spanId 就会无限制增长下去

[2022-08-27 12:01] nobodyiam opened #490 "CI failed in the master branch"
### Describe the bug

CI failed in the master branch constantly. As an open source project, we need to make sure the CI always works and can help to verify the logic.

### Expected behavior

The CI should pass in the master branch.

### Actual behavior

The CI in github failed with the following error messages, constantly:

[code]

However, the `mvn clean test` works in my laptop.

[code]

### Ste

[2022-08-29 05:55] #490 closed, assigned to nobody

[2022-08-29 06:23] glmapper commented on #487
@ddq123456 看了下你提供的代码，你通过 api 自己处理的 span 的生命周期，没有处理好; 你可以通过 SofaTracerHttpClientBuilder 来构建 httpclient，详见：https://www.sofastack.tech/projects/sofa-tracer/usage-of-httpclient/

[2022-08-29 06:25] glmapper commented on #478
这个问题不在 trace 组件部分讨论，可以在 sofa-ark 中继续讨论此场景 @SoftwareKing

[2022-08-29 06:25] #478 closed, assigned to nobody

[2022-08-29 06:36] #447 closed, assigned to nobodyiam, xzchaoo

[2022-08-29 08:13] glmapper commented on #475
https://github.com/sofastack/sofa-tracer/pull/486 MERGED

[2022-08-29 08:13] #475 closed, assigned to nobody

[2022-08-30 03:05] #463 closed, assigned to nobody

[2022-08-31 02:43] ddq123456 commented on #487
![image](https://user-images.githubusercontent.com/25599808/187580937-77ddc1e4-b07d-4e10-b9b6-3a1a08c2be06.png)
HttpClientBuilder httpClientBuilder = SofaTracerHttpClientBuilder.clientBuilder(HttpClients.custom());

这个我看是有通过 SofaTracerHttpClientBuilder 来构建 httpclient的

[2022-09-05 12:46] ddq123456 commented on #487
@glmapper  再麻烦看下 这个我看着就是没问题呀，而且我看httpClient的    SofaTracerHttpInterceptor  是无法对 http请求发身异常时的com.alipay.common.tracer.core.tracer.AbstractTracer#clientReceive，所以导致的spanId 边长

[2022-09-05 12:51] glmapper commented on #487
异常情况下，逻辑有进入到 SofaTracerHttpInterceptor 吗？

[2022-09-05 12:51] ddq123456 commented on #487
没有

[2022-09-05 12:52] glmapper commented on #487
提供下堆栈

[2022-09-05 13:01] ddq123456 commented on #487
调试看不到

[2022-09-05 13:02] ddq123456 commented on #487
我给你看提供下  org.apache.http.impl.execchain.ProtocolExec  这个类的186  行

[2022-09-05 13:03] ddq123456 commented on #487
![image](https://user-images.githubusercontent.com/25599808/188455983-65239006-d308-4147-a959-01913b8d1d98.png)

[2022-09-05 13:05] glmapper commented on #487
@ddq123456 get，可以把你现在的 demo 在发一下吗？

[2022-09-05 13:06] ddq123456 commented on #487
![image](https://user-images.githubusercontent.com/25599808/188456301-1ffca4ac-98a0-4863-b730-dbfb9cb8b2e5.png)
相当于HttpRequestInterceptor 能进   HttpResponseInterceptor 无法进入

[2022-09-05 13:15] ddq123456 commented on #487
[SchulderBean.zip](https://github.com/sofastack/sofa-tracer/files/9490065/SchulderBean.zip)

[2022-09-05 13:17] ddq123456 commented on #487
version=4.5.10
groupId=org.apache.httpcomponents
artifactId=httpclient

[2022-09-07 02:45] glmapper commented on #487
@ddq123456 get, 这种实际上模拟的是服务端跑出异常，没法正常返回的场景，现在你是怎么解决的

[2022-09-11 04:24] ddq123456 commented on #487
![image](https://user-images.githubusercontent.com/25599808/189512345-986bbb16-e38a-4d06-962b-83fd040e3e29.png)
上面评论里面有，暂时是在判断重试里面处理的

[2022-09-13 16:02] WarriorFromLongAgo opened #498 "classNotFound SofaTracerLoadBalancedFeignClient"
### Your question
从spring-cloud 2020.0.0 开始，spring-cloud-openfeign-core 中就没有ribbon了。

我们目前是 Hoxton.SR12，仍然还是有ribbon的版本，如果我升级2020.0.0及其以上，那么启动的时候

SofaTracerLoadBalancedFeignClient这个类就会报错，请问有计划支持嘛，

### Your scenes

[code]
[code]